<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat Application</title>
	<link rel="stylesheet" href="chatpage.css">
</head>
<body>
	<div class="container">
		<div class="chat-window">
			<div class="chat-header">
				<h2 id="username">Chat</h2>
			</div>
			<div class="chat-body">
				<ul class="message-list">
					<!-- <li class="message">
						<div class="message-sender">
							<span>John</span>
						</div>
						<div class="message-content">
							<p>Hello there!</p>
						</div>
					</li> -->
					
				</ul>
			</div>
			<div class="chat-footer">
				<input type="text" placeholder="Type your message..." id="message-input">
				<button id="send-button">Send</button>
			</div>
		</div>
	</div>
</body>
<script src="chatpage.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>

<!-- <li class="message sent">
	<div class="message-sender">
		<span>You</span>
	</div>
	<div class="message-content">
		<p>Hello there!</p>
	</div>
</li>
<li class="message received">
	<div class="message-sender">
		<span>John</span>
	</div>
	<div class="message-content">
		<p>Hi, how are you?</p>
	</div>
</li>
<li class="message received">
	<div class="message-sender">
		<span>Jane</span>
	</div>
	<div class="message-content">
		<p>What are you up to today?</p>
	</div>
</li>
<li class="message sent">
	<div class="message-sender">
		<span>You</span>
	</div>
	<div class="message-content">
		<p>Just hanging out at home. How about you?</p>
	</div>
</li> -->